# Dependencies
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Editor directories
.vscode/
test.js
# Backup/Duplicate folders
find/
find/*.html
html/
html/*
New folder/
New folder/*
main.js
main1.js
assets/doc
assets/doc/*
js/
js/*
