# Dependencies
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Editor directories
.vscode/

# Backup/Duplicate folders
find/
find/*.html
html/
html/*
New folder/
New folder/*


assets/doc
assets/doc/*
